This notebook will generate the Knowledge base CSVs used by every later experiment.

In [1]:
import pandas as pd

In [2]:
concepts = [
    ("C1", "Relational model basics"),
    ("C2", "Keys (super, candidate, primary, foreign)"),
    ("C3", "Relational algebra basics"),
    ("C4", "SQL SELECT basics"),
    ("C5", "SQL joins"),
    ("C6", "Aggregations (GROUP BY, HAVING)"),
    ("C7", "Subqueries"),
    ("C8", "Functional dependencies"),
    ("C9", "Normalization (1NF–3NF)"),
    ("C10", "Transactions and ACID")
]

concepts_df = pd.DataFrame(concepts, columns=["concept_id", "concept_name"])
concepts_df

  concept_id                               concept_name
0         C1                    Relational model basics
1         C2  Keys (super, candidate, primary, foreign)
2         C3                  Relational algebra basics
3         C4                          SQL SELECT basics
4         C5                                  SQL joins
5         C6            Aggregations (GROUP BY, HAVING)
6         C7                                 Subqueries
7         C8                    Functional dependencies
8         C9                    Normalization (1NF–3NF)
9        C10                      Transactions and ACID

In [3]:
prerequisites = [
    ("C1", "C3"),
    ("C1", "C4"),
    ("C2", "C5"),
    ("C4", "C5"),
    ("C5", "C6"),
    ("C6", "C7"),
    ("C8", "C9"),
    ("C1", "C10")
]

prereq_df = pd.DataFrame(prerequisites, columns=["prerequisite", "dependent"])
prereq_df

  prerequisite dependent
0           C1        C3
1           C1        C4
2           C2        C5
3           C4        C5
4           C5        C6
5           C6        C7
6           C8        C9
7           C1       C10

In [4]:
concepts_df.to_csv("../data/concepts.csv", index=False)
prereq_df.to_csv("../data/prerequisites.csv", index=False)

CBM Probe Bank

In [5]:
questions = [
    # C1: Relational model basics
    ("Q1", "What is a relation in the relational model?"),
    ("Q2", "What does a tuple represent in a relation?"),
    ("Q3", "What is the difference between a relation and a table?"),
    ("Q4", "What is the domain of an attribute?"),

    # C2: Keys
    ("Q5", "What is a primary key?"),
    ("Q6", "What is the difference between a candidate key and a primary key?"),
    ("Q7", "What is a foreign key used for?"),
    ("Q8", "Can a table have more than one candidate key?"),

    # C3: Relational algebra
    ("Q9", "What does the selection operator do in relational algebra?"),
    ("Q10", "What is the purpose of the projection operator?"),
    ("Q11", "What does a join operation combine?"),
    ("Q12", "What is the difference between selection and projection?"),

    # C4: SQL SELECT basics
    ("Q13", "What does the SELECT clause specify in SQL?"),
    ("Q14", "What is the purpose of the WHERE clause?"),
    ("Q15", "What does SELECT * do?"),
    ("Q16", "Can a SELECT query retrieve data from multiple tables?"),

    # C5: SQL joins
    ("Q17", "What does an INNER JOIN return?"),
    ("Q18", "What does a LEFT JOIN return?"),
    ("Q19", "What is the difference between INNER JOIN and LEFT JOIN?"),
    ("Q20", "When would you use a JOIN instead of a subquery?"),

    # C6: Aggregations
    ("Q21", "What does GROUP BY do in SQL?"),
    ("Q22", "What is the purpose of the HAVING clause?"),
    ("Q23", "What does COUNT(*) return?"),
    ("Q24", "Can aggregate functions be used without GROUP BY?"),

    # C7: Subqueries
    ("Q25", "What is a subquery?"),
    ("Q26", "Where can a subquery appear in an SQL statement?"),
    ("Q27", "What is the difference between a correlated and non‑correlated subquery?"),
    ("Q28", "Can a subquery return multiple rows?"),

    # C8: Functional dependencies
    ("Q29", "What is a functional dependency?"),
    ("Q30", "What does A → B mean in functional dependency notation?"),
    ("Q31", "Why are functional dependencies important?"),
    ("Q32", "Can a table have multiple functional dependencies?"),

    # C9: Normalization
    ("Q33", "What problem does normalization aim to solve?"),
    ("Q34", "What is First Normal Form (1NF)?"),
    ("Q35", "What distinguishes 2NF from 1NF?"),
    ("Q36", "Why is normalization important in database design?"),

    # C10: Transactions and ACID
    ("Q37", "What is a transaction in a database?"),
    ("Q38", "What does atomicity mean in ACID?"),
    ("Q39", "What does consistency ensure in a transaction?"),
    ("Q40", "Why is isolation important?")
]

In [6]:
questions_df = pd.DataFrame(questions, columns=["question_id", "question_text"])
questions_df

   question_id                                      question_text
0           Q1        What is a relation in the relational model?
1           Q2         What does a tuple represent in a relation?
2           Q3  What is the difference between a relation and ...
3           Q4                What is the domain of an attribute?
4           Q5                             What is a primary key?
5           Q6  What is the difference between a candidate key...
6           Q7                    What is a foreign key used for?
7           Q8      Can a table have more than one candidate key?
8           Q9  What does the selection operator do in relatio...
9          Q10    What is the purpose of the projection operator?
10         Q11                What does a join operation combine?
11         Q12  What is the difference between selection and p...
12         Q13        What does the SELECT clause specify in SQL?
13         Q14           What is the purpose of the WHERE clause?
14         Q15                             What does SELECT * do?
15         Q16  Can a SELECT query retrieve data from multiple...
16         Q17                    What does an INNER JOIN return?
17         Q18                      What does a LEFT JOIN return?
18         Q19  What is the difference between INNER JOIN and ...
19         Q20   When would you use a JOIN instead of a subquery?
20         Q21                      What does GROUP BY do in SQL?
21         Q22          What is the purpose of the HAVING clause?
22         Q23                         What does COUNT(*) return?
23         Q24  Can aggregate functions be used without GROUP BY?
24         Q25                                What is a subquery?
25         Q26   Where can a subquery appear in an SQL statement?
26         Q27  What is the difference between a correlated an...
27         Q28               Can a subquery return multiple rows?
28         Q29                   What is a functional dependency?
29         Q30  What does A → B mean in functional dependency ...
30         Q31         Why are functional dependencies important?
31         Q32  Can a table have multiple functional dependenc...
32         Q33      What problem does normalization aim to solve?
33         Q34                   What is First Normal Form (1NF)?
34         Q35                   What distinguishes 2NF from 1NF?
35         Q36  Why is normalization important in database des...
36         Q37               What is a transaction in a database?
37         Q38                  What does atomicity mean in ACID?
38         Q39     What does consistency ensure in a transaction?
39         Q40                        Why is isolation important?

Mapping Questions to Concepts

In [7]:
question_concept_map = [
    ("Q1", "C1"), ("Q2", "C1"), ("Q3", "C1"), ("Q4", "C1"),
    ("Q5", "C2"), ("Q6", "C2"), ("Q7", "C2"), ("Q8", "C2"),
    ("Q9", "C3"), ("Q10", "C3"), ("Q11", "C3"), ("Q12", "C3"),
    ("Q13", "C4"), ("Q14", "C4"), ("Q15", "C4"), ("Q16", "C4"),
    ("Q17", "C5"), ("Q18", "C5"), ("Q19", "C5"), ("Q20", "C5"),
    ("Q21", "C6"), ("Q22", "C6"), ("Q23", "C6"), ("Q24", "C6"),
    ("Q25", "C7"), ("Q26", "C7"), ("Q27", "C7"), ("Q28", "C7"),
    ("Q29", "C8"), ("Q30", "C8"), ("Q31", "C8"), ("Q32", "C8"),
    ("Q33", "C9"), ("Q34", "C9"), ("Q35", "C9"), ("Q36", "C9"),
    ("Q37", "C10"), ("Q38", "C10"), ("Q39", "C10"), ("Q40", "C10")
]

qc_map_df = pd.DataFrame(
    question_concept_map,
    columns=["question_id", "concept_id"]
)
qc_map_df

   question_id concept_id
0           Q1         C1
1           Q2         C1
2           Q3         C1
3           Q4         C1
4           Q5         C2
5           Q6         C2
6           Q7         C2
7           Q8         C2
8           Q9         C3
9          Q10         C3
10         Q11         C3
11         Q12         C3
12         Q13         C4
13         Q14         C4
14         Q15         C4
15         Q16         C4
16         Q17         C5
17         Q18         C5
18         Q19         C5
19         Q20         C5
20         Q21         C6
21         Q22         C6
22         Q23         C6
23         Q24         C6
24         Q25         C7
25         Q26         C7
26         Q27         C7
27         Q28         C7
28         Q29         C8
29         Q30         C8
30         Q31         C8
31         Q32         C8
32         Q33         C9
33         Q34         C9
34         Q35         C9
35         Q36         C9
36         Q37        C10
37         Q38        C10
38         Q39        C10
39         Q40        C10

This mapping allows CBM to compute concept-level mastery

In [8]:
# Export CBM Probe Data
questions_df.to_csv("../data/questions.csv", index=False)
qc_map_df.to_csv("../data/question_concept_map.csv", index=False)